[submodule "hardware-bugbase"]
	path = hardware-bugbase
	url = https://github.com/ngernest/hardware-bugbase
	branch = macos-fixes

[submodule "veripass"]
	path = veripass
	url = https://github.com/efeslab/veripass
